%position {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0;
  margin: 0;
}

%lighter-font{
  font-weight: lighter;
}

%article-color{
color: white;
}

$focus-color: orangered;

$accent-color: #0F91BC;
