* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Rajdhani', sans-serif;
}

@mixin mobile() { //dla innej rozdzielczości
  @media (max-width: 871px) {
    @content;
  }
}

@mixin mobile2() { //dla innej rozdzielczości
  @media (max-width: 400px) {
    @content;
  }
}

@mixin mobile3() { //dla innej rozdzielczości
  @media screen and (max-width: 250px) and (max-height: 700px) {
    @content;
  }
}


#container {
  position: relative;
  max-width: 1450px;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  background-image: url("../img/clouds-dawn-dramatic-1118873.jpg");

  background-size: cover;

  @include mobile() {
    flex-direction: column;
  }

  .info {
    width: 50%;
    height: 100%;
    //background-color: chocolate;
    position: relative;
    background-color: rgba(255, 255, 255, 0.3);

    @media (max-width: 871px) {
      width: 100%;
    }
    h1 {
      font-size: 60px;
      position: absolute;
      top: 20%;
      left: 50%;
      transform: translate(-50%, -50%);
      padding: 0;
      margin: 0;

      @include mobile(){
        font-size: 40px;
      }
    }
    h2 {
      font-size: 30px;
      position: absolute;
      top: 40%;
      left: 50%;
      transform: translate(-50%, -50%);
      padding: 0;
      margin: 0;
      text-align: center;
      font-weight: lighter;

      @include mobile(){
        font-size: 25px;
        top: 50%;
        font-weight: lighter;
      }

      @include mobile2(){
        font-size: 20px;
        font-weight: lighter;
      }
    }
    .find_city {
      position: absolute;
      top: 50%;
      left: 30%;
      input {
        height: 4vh;
        width: 80%;
        border-radius: 4px;
        margin-bottom: 5px;
      }

      #show_city {
        font-size: 0.8em;
        background-color: #6699CC;
        border-color: orangered;
        padding: 5px 5px;
        line-height: 1.42857143;
        cursor: pointer;
        border-radius: 4px;
        border: 1px solid transparent;
        align-content: center;
      }

      input:focus {
        outline: none;
        border-color: orange;
        box-shadow: 0 0 12px orangered;
      }




      @include mobile(){
        top: 75%;
        left: 25%;
      }

    }
  }

  .description {
    width: 50%;
    height: 100%;
    //background-color: lightgreen;
    position: relative;
    background-color: rgba(255, 255, 255, 0.3);
    @media (max-width: 871px) {
      width: 100%;
    }
    .des {
      display: inline-block;
      padding: 10px;
      margin: 0;
      list-style-type: none;
      font-size: 25px;
      position: absolute;
      left: 50%;
      top: 70%;
      transform: translate(-50%, -50%);
      text-align: center;
      line-height: 1.5;
      font-weight: lighter;

      @include mobile(){
        font-size: 20px;
        top: 65%;
        line-height: 1;
        font-weight: bolder;
      }

      @include mobile2(){
        font-size: 16px;
        top: 60%;
        //font-weight: bolder;
      }

    }
    .weatherIcon {
      width: 245px;
      height: 245px;
      padding: 0;
      margin: 0;
      left: 50%;
      top: -50%;
      background-size: cover;
      position: absolute;
      transform: translate(-50%, -50%);




      @include mobile(){
        width: 150px;
        height: 150px;
        top: -25%;
      }

      @include mobile2(){
        width: 100px;
        height: 100px;
        top:-10%;
      }

      @include mobile3(){
        display: none;
      }
    }

  }
}





