@import "variables";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Rajdhani', sans-serif;
}

body {
  background-color: #f8fdf3;
}

@mixin mobile() {
  @media (max-width: 871px) {
    @content;
  }
}

@mixin mobile2() {
  @media (max-width: 400px) {
    @content;
  }
}

@mixin mobile3() {
  @media screen and (max-width: 250px) and (max-height: 700px) {
    @content;
  }
}


#container {
  position: relative;
  width: 100%;
  max-width: 1300px;
  border-radius: 0.35em;
  height: 80vh;
  margin: 20px auto;
  display: flex;
  background: linear-gradient(90deg, #d4eece, #28D9F4), url("../img/clouds-dawn-dramatic-1118873.jpg") no-repeat;
  background-blend-mode: multiply;
  background-size: cover;

  @include mobile() {
    flex-direction: column;
  }

  .info {
    width: 50%;
    height: 100%;
    position: relative;

    @media (max-width: 871px) {
      width: 100%;
    }
    h1 {
      font-size: 5.8em;
      top: 20%;
      @extend %position;
      @extend %lighter-font;
      color: #0F91BC;
      text-shadow:
              2px 1px 10px rgb(204, 204, 204), 0px 0px 0px rgb(55,55,55);

      @include mobile(){
        font-size: 40px;
      }
    }
    h2 {
      font-size: 30px;
      top: 40%;

      @extend %position;
      text-align: center;
      @extend %lighter-font;
      @extend %article-color;

      @include mobile(){
        font-size: 25px;
        top: 50%;
        font-weight: lighter;
      }

      @include mobile2(){
        font-size: 20px;
        font-weight: lighter;
      }
    }
    .find_city {
      position: absolute;
      top: 50%;
      left: 30%;
      input {
        height: 4vh;
        width: 80%;
        border-radius: 4px;
        margin-bottom: 5px;
        border: none;
        outline: none;
        padding: 12px;
        font-size: 1.15em;

      }

      #show_city {
        font-size: 1em;
        background-color: #0F91BC;
        border-color: orangered;
        padding: 5px 5px;
        line-height: 1.42857143;
        cursor: pointer;
        border-radius: 4px;
        border: 1px solid transparent;
        align-content: center;
        width: 20%;
      }

      input:focus {
        outline: none;
        border-color: orange;
        box-shadow: 0 0 12px orangered;
      }

      @include mobile(){
        top: 75%;
        left: 25%;
      }

    }
  }

  .description {
    width: 50%;
    height: 100%;
    position: relative;
    @media (max-width: 871px) {
      width: 100%;
    }
    .des {
      @extend %article-color;
      display: inline-block;
      padding: 10px;
      margin: 0;
      list-style-type: none;
      font-size: 25px;
      position: absolute;
      left: 50%;
      top: 70%;
      transform: translate(-50%, -50%);
      text-align: center;
      line-height: 1.5;
      @extend %lighter-font;

      @include mobile(){
        font-size: 20px;
        top: 65%;
        line-height: 1;
        font-weight: bolder;
      }

      @include mobile2(){
        font-size: 16px;
        top: 60%;
      }

    }
    .weatherIcon {
      width: 245px;
      height: 245px;
      top: -50%;
      background-size: cover;
      @extend %position;

      @include mobile(){
        width: 150px;
        height: 150px;
        top: -25%;
      }

      @include mobile2(){
        width: 100px;
        height: 100px;
        top:-10%;
      }

      @include mobile3(){
        display: none;
      }
    }

  }
}





