* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  //background-color: blue;
  font-family: 'Rajdhani', sans-serif;
}

#container {

  position: relative;
  max-width: 1450px;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  @media (max-width: 871px) {
    flex-direction: column;
  }

  .info {
    width: 50%;
    height: 100%;
    background-color: chocolate;
    position: relative;
    @media (max-width: 871px) {
      width: 100%;
    }
    h1 {
      font-size: 60px;
      position: absolute;
      top: 20%;
      left: 50%;
      transform: translate(-50%, -50%);
      padding: 0;
      margin: 0;
    }
    h2 {
      font-size: 30px;
      position: absolute;
      top: 40%;
      left: 50%;
      transform: translate(-50%, -50%);
      padding: 0;
      margin: 0;
      text-align: center;
    }
    .find_city {
      position: absolute;
      top: 50%;
      left: 30%;
      input {
        height: 4vh;
        width: 80%;
        border-radius: 4px;
        margin-bottom: 5px;
      }
      input:focus {
        outline: none;
        border-color: #46b8da;
        box-shadow: 0 0 12px #719ECE;
      }
    }
  }

  .description {
    width: 50%;
    height: 100%;
    background-color: lightgreen;
    position: relative;
    @media (max-width: 871px) {
      width: 100%;
    }
    .des {
      padding: 0;
      margin: 0;
      list-style-type: none;
      font-size: 30px;
      position: absolute;
      left: 50%;
      top: 70%;
      transform: translate(-50%, -50%);
      text-align: center;

    }
    .weatherIcon {
      width: 400px;
      height: 400px;
      padding: 0;
      margin: 0;
      left: 50%;
      top:20%;
      background-size: cover;
      position: absolute;
      transform: translate(-50%, -50%);
    }

  }
}





